.order-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220vh;
  background-color: #f4f7fa;
  flex-direction: column;
  min-height: 100vh;
  
}

.order-box {
  background-color: #fff;
  /* padding: 40px; */
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 800px;
  text-align: center;
  /* margin-top: 50px; */
  /* max-width: 800px; */
    margin: 0 auto;
    padding: 2rem;
    padding-top: 50rem !important;
    flex: 1;
    
}

.order-box h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.order-box p {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
  /* margin-top: 100px; */
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #5ca9fb;
  outline: none;
}

textarea {
  resize: none;
}

.file-upload {
  margin-bottom: 20px;
  text-align: left;
}

.file-input-group {
  margin-top: 10px;
}

.add-file-btn {
  width: 20%;
  margin-top: 10px;
  padding: 12px;
  background-color: #00415a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-file-btn:hover {
  background-color: #00415a;
}

.submit-btn{
  width: 100%;
  padding: 12px;
  background-color: #00415a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.social-btn,
.call-now-btn {
  width: 20%;
  padding: 6px;
  background-color: #00415a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  margin-left: 10px;
}



.submit-btn:hover,
.social-btn:hover,
.call-now-btn:hover {
  background-color: #00415a;
}

.social-media-links {
  margin-top: 20px;
}

.social-media-links h4 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  background-color: #00415a; /* Background color for the footer */
  text-align: center; /* Center the text */
  padding: 10px; /* Some padding for aesthetics */
  position: relative; /* Positioning for footer */
}

.footer-links a {
  margin: 0 10px; /* Space out the links */
  text-decoration: none; /* Remove underline */
  color: #007BFF; /* Link color */
}

.footer-links a:hover {
  text-decoration: underline; /* Underline on hover */
}
@media (max-width: 768px) {


  /* order page */

  .order-box {
    padding: 20px;
    width: 100%;
  }
  .form-group {
    margin-bottom: 10px;
    width: 100%;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  select,
  textarea {
    padding: 8px;
    font-size: 0.9rem;
  }

  .submit-btn,
  .add-file-btn,
  .call-now-btn,
  .social-btn {
    padding: 8px;
    font-size: 0.9rem;
  }

  .social-media-links {
    flex-direction: column;
  }






}