/* src/components/Dashboard/Dashboard.css */

/* Sidebar text and icon styles */
.dashboard-menu-item {
    font-size: 3rem; /* Larger text */
  }
  
  .dashboard-menu-item-icon {
    font-size: 2rem; /* Larger icons */
  }
  
  /* AppBar elements */
  .app-bar-title {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .search-input {
    font-size: 3rem;
  }
  
  .icon-buttons {
    font-size: 3rem; /* Larger icon size for AppBar icons */
  }
  
  /* Main content adjustments */
  .product-title {
    font-size: 5rem;
  }
  
  .table-head {
    font-size: 3rem;
    font-weight: 500;
  }
  
  .table-cell {
    font-size: 3rem;
  }
  /* src/components/Dashboard/Dashboard.css */

.dashboard-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #1a2233;
}

.drawer-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.list-item-text {
  font-size: 3rem;
}

.order-status {
  font-weight: 500;
  font-size: 25rem;
}
